body{
    margin:0;
    padding:0;
    display: flex;
    box-sizing: border-box;
}

.container{
    margin-top: 25vh;
    margin-left: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 50vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;}

.heading{
    padding: 11px;
}

.login{
    margin-top: 12px;
}

.loginBtn{
    border: 2px solid gray;
    padding: 12px;
    text-decoration: none;
    font-weight: bold;
}